# Node
node_modules/
dist/
build/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
*package-lock.json

# Python
.venv/
__pycache__/
*.pyc

# OS
.DS_Store

# IDE
.idea/
.vscode/

# Database files
*.db
*.db-shm
*.db-wal
data/
*.sqlite
*.sqlite3

# Project specific sensitive data
server/projects/
drive/
projects/
*.tar.gz
backup-*.tar.gz
*.jpeg
*.jpg
*.png
*.gif

# Logs
logs/
*.log

# Environment files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Data
data/
drive/
server/drive/
projects/
server/projects/

# Media
*.jpeg
*.mp4

# Logs
*.log
